body {
	background-image: url('../img/background.png');
	background-size: cover;
	height: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

h1 {
	color: white;
	font-size: 48pt;
	text-align: center;
	font-family: "hwt-american-chromatic";
	font-weight: normal;
}

a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing:1px;
}

table {
	width: 100%;
}

table th {
	text-align: left;
	text-transform: uppercase;
	font-size: 1.2em;
}

#menu {
	list-style: none;
	padding: 0;
	text-align: center;
	width: 100%;
	margin-bottom: 40px;
}

#menu li {
	padding-left: 0;
	margin-left: 0;
	display: inline-block;
	font-family: sans-serif;
	margin-right: 20px;
}

#menu li:last-of-type {
	margin-right: 0;
}

#wrapper {
	margin-top: 50px;
}

#content {
	width: 500px;
	padding: 20px;
	margin-top: 40px;
	background-color: rgba(255, 255, 255, .8);
	margin: 0 auto;
}

#content h1 {
	font-family: Arial;
	color: black;
}
